@mixin glassAccent() {
	box-shadow: var(--shadow-accent);
	background-color: var(--third-clr);
	backdrop-filter: blur(4px);
	border: var(--border-accent);
	border-radius: var(--radius);
}

@mixin button($padding: 0.6rem 1rem) {
	padding: $padding;
	font-family: sans-serif, 'Segoe UI';
	font-size: var(--fs-btn);
	border: var(--border);
	border-radius: var(--radius);
	box-shadow: var(--shadow-black);
	background-color: var(--accent-clr);
	text-transform: uppercase;
	cursor: pointer;
}

@mixin button-small-caps($padding: 0.2rem 0.5rem) {
	@include button($padding);
	font-size: var(--fs-small);
	text-transform: none;
	border-radius: 50px;

	&:hover {
		color: var(--text-clr);
		background-color: #6295d6;
		border: none;
	}
}

@mixin flex() {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-c() {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin likesCount() {
	padding: 0.5rem 0.75rem;
	font-size: var(--fs-btn);
	background-color: var(--secondary-clr);
	position: absolute;
	left: 0;
	bottom: 0;
	margin-left: 1rem;
	margin-bottom: 1rem;
	border: 1px solid #343536;
	border-radius: var(--radius);
}
