@import './boilerplate.css';
@import 'variables';
@import './toast.css';

.pc.pc {
	display: none;
}

.shadow-btn.shadow-btn {
	box-shadow: var(--shadow-btn);
}

body {
	background: linear-gradient(
		90deg,
		var(--primary-clr) 5%,
		var(--accent-clr-darker) 50%,
		var(--primary-clr) 95%
	);
	overflow: hidden;
}

main {
	display: flex;
	height: 100vh;
	height: 100dvh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--text-clr);
}

.message {
	display: block;
	color: lawngreen;
}

a {
	color: var(--text-clr);
	text-decoration: none;
	border: 1px solid #060;
	border-radius: 0.25em;
	padding: var(--small);
}

h1 {
	color: var(--text-clr);
}

.form-wrapper {
	margin-top: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;

	img {
		margin-inline: 1rem;
	}
}

form {
	display: flex;
	flex-direction: column;
	margin: 1rem;
	border-radius: 6px;

	.header {
		margin-top: -1.5rem;
		margin-block: 1.5rem;
		text-align: center;
	}

	.remember-me {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-top: 0.5rem;

		label {
			padding-bottom: 3px;
		}

		button {
			margin-left: auto;
			padding-inline: 1rem;
		}

		input {
			accent-color: var(--accent-clr);
		}
	}

	.p {
		text-align: center;
		font-size: var(--fs-btn);
		color: var(--btn-clr);
		margin-top: 1rem;
	}

	.register-btn {
		margin-top: 0.5rem;
		width: 100%;
	}

	.register,
	.login {
		@include button();
		margin-top: 0.5rem;
		text-align: center;
	}

	.input-div {
		background-color: var(--third-clr);
		border: 1px solid #404143;
		border-radius: 4px;
		padding: 0.75rem 1.25rem;
		margin-top: -1px;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 1em;

		&:focus-within {
			border: var(--border);
			z-index: 10;
		}

		i {
			color: var(--btn-clr);
		}

		input {
			color: var(--btn-clr);
			border: none;
			outline: none;
			background-color: transparent;
		}

		.show-password {
			display: none;
		}

		.show-password-label {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: auto;
		}
	}
}

.auth-nav {
	background-color: var(--secondary-clr);
	backdrop-filter: blur(4px);
	position: relative;
	text-align: center;
	display: flex;
	justify-content: center;
	margin-top: auto;
	width: 100%;
	padding: 1rem;
	border: var(--border-accent);
	border-radius: var(--radius);
	box-shadow: var(--shadow-accent);

	a {
		@include button();
		text-align: center;
		margin-top: 1rem;
		max-width: 700px;
		display: block;
		width: 100%;
		border: none;
	}

	i {
		margin-left: 0.25rem;
	}
}

@media (min-width: 621px) {
	body {
		background: linear-gradient(
			90deg,
			var(--primary-clr) 5%,
			var(--accent-clr-darker) 50%,
			var(--primary-clr) 95%
		);
	}

	.auth-nav {
		padding: 3rem;
		border: 3px solid var(--accent-clr-green);
	}

	form .p {
		margin-top: 2rem;
	}

	.form-wrapper {
		img {
			max-width: 100%;
			margin-inline: initial;
			padding-right: 0.75rem;
		}
	}
}

@media (min-width: 1041px) {
	body {
		background: linear-gradient(
			98deg,
			var(--primary-clr) 8%,
			var(--accent-clr-darker) 53%,
			var(--primary-clr) 84%
		);
	}

	.pc.pc.pc {
		display: block;
	}
	.mobile {
		display: none;
	}

	main {
		align-items: center;
		justify-content: center;
		flex-direction: row;
		overflow: hidden;
	}

	.auth-nav {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 42%;
		height: 100vh;
		height: 100dvh;
		padding: 3.5rem;
		margin-top: initial;
		background-color: var(--secondary-clr);
		border: none;
		border-left: 4px solid var(--accent-clr-green);
		box-shadow: var(--shadow-accent);

		a {
			width: 35%;
			margin-inline: auto;
		}
	}

	.form-wrapper {
		display: flex;
		height: 80%;
		justify-content: flex-start;
		gap: 2.5rem;
		align-items: center;
		width: 58%;
		margin-top: initial;
		flex-direction: column;

		img {
			width: 66%;
		}
	}

	form {
		width: 333px;

		.remember-me {
			margin-top: 0.5rem;
		}

		.register-btn {
			margin-top: 1rem;
			width: 100%;
		}
	}
}

@media screen and (max-height: 530px) {
	main {
		.form-wrapper {
			img {
				display: none;
			}
		}
	}
}
