@import './boilerplate.css';
@import './postComponent.css';
@import './sidebar.css';
@import './navbar.css';
@import './newsletterModal.css';
@import './toast.css';
@import 'variables';
@import './hotPostsWrapper.css';

.pc-button {
	@include flex();
	@include button();
}

.hidden.hidden.hidden {
	display: none;
}
.hidden-ham.hidden-ham.hidden-ham {
	display: none;
}

main {
	margin-top: calc(2rem + var(--navbar-height));
	display: grid;
	grid-template-columns: 240px 1fr 400px;
	grid-auto-columns: 0;
	max-width: 1470px;
	margin-inline: auto;
}

/* SEARCH BAR */

.posts-wrapper {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	width: 100%;
	max-width: 1000px;
}

@media (max-width: 1040px) {
	.welcome {
		display: none;
	}
}

@media (min-width: 621px) and (max-width: 1040px) {
	main {
		margin-top: var(--navbar-height);
		grid-template-columns: 1fr 260px;
		grid-template-rows: var(--sidebar-tablet-height) 1fr;
		gap: 1rem;
	}

	.posts-wrapper {
		margin-left: 0.75rem;
		grid-row: 2;
	}
}
@media (max-width: 620px) {
	main {
		grid-template-columns: 1fr;
		margin-inline: 0.5rem;
	}

	.sidebar {
		display: none;
	}
}
