@import './boilerplate.css';
@import './hotPostsWrapper.css';
@import './hotPostsMediaQueries.css';

// body {
// 	overflow: hidden;
// }

// .hot-wrapper {
// 	max-height: calc(100vh - var(--navbar-height) - 3rem);
// }

main {
	gap: 0;
	margin-top: var(--navbar-height);
	grid-template-columns: 0.2fr 1fr 450px;
	grid-template-rows: initial;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
	max-width: initial;
}

.page-heading {
	text-align: center;
	margin-bottom: 1.5rem;
}

.post-form-wrapper {
	grid-column: 2;
}

.post-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 80%;
	margin-inline: auto;

	input,
	textarea {
		font-family: 'sans-serif', 'Segoe UI';
		background-color: var(--third-clr);
		border: 1px solid #404142;
		border-radius: var(--radius);
		color: var(--text-clr);
		padding: 1em;
		outline: none;
		width: 100%;

		&:focus {
			border: 1px solid #606162;
		}
	}

	.img-div,
	.tags-div {
		display: flex;
		flex-direction: column;
		gap: 0.4rem;
		margin-top: -3px;
	}

	.tags-div {
		margin-top: -6px;
	}

	.post-body {
		height: 30vh;
	}

	.button-div {
		display: flex;
		width: 100%;
		gap: 1rem;

		button {
			width: 100%;
		}
	}
}

#file-upload-button {
	background-color: red;
}

.img-preview {
	border: 3px solid var(--accent-clr);
	box-shadow: var(--shadow);
	border-radius: 12px;
	object-fit: cover;
}

/* TAGS */

#tags-container {
	width: 100%;
	padding: 4px;
	background-color: var(--third-clr);
	border: 1px solid #404142;
	border-radius: var(--radius);
	color: var(--text-clr);
}

#tags-list {
	display: flex;
	flex-wrap: wrap;
}

#tag {
	padding: 5px 8px;
	border-radius: 4px;
	list-style-type: none;
	margin: 0.25em;
	background-color: var(--secondary-clr);
	color: var(--btn-clr);

	i {
		color: var(--btn-clr);
		margin-inline: 4px;

		&:hover {
			color: var(--text-clr);
		}
	}
}

#tags-input {
	border: none;
	border-radius: 4px;
	outline: none;
	background-color: transparent;
}

@media (min-width: 621px) and (max-width: 1040px) {
	main {
		grid-template-columns: 1fr 0.5fr;
	}

	.post-form-wrapper {
		grid-column: 1;
	}

	.post-form {
		width: 88%;
		margin-inline: 5vw;
	}
}

@media (max-width: 620px) {
	body {
		overflow: auto;
	}

	main {
		grid-template-columns: 1fr;
	}
	.post-form-wrapper {
		grid-column: 1;
	}
	.post-form {
		width: 93%;
	}
}
