@import './boilerplate.css';

main {
	grid-template-columns: 1fr;
}

.heading {
	text-align: center;
	margin-bottom: 1rem;
}

.post-form {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 55%;
	margin-inline: auto;

	input,
	textarea {
		font-family: 'sans-serif', 'Segoe UI';
		background-color: var(--third-clr);
		border: 1px solid #404142;
		border-radius: var(--radius);
		color: var(--text-clr);
		padding: 1em;
		outline: none;
		width: 100%;

		&:focus {
			border: 1px solid #606162;
		}
	}

	.post-body {
		height: 30vh;
	}
}

.img-preview {
	width: 500px;
	object-fit: cover;
}

/* TAGS */

#tags-container {
	width: 20%;
	padding: 4px;
	background-color: #fff;
	border: 1px solid var(--text-clr);
}

#tags-list {
	display: flex;
	flex-wrap: wrap;
}

#tag {
	padding-block: 2px;
	padding-inline: 4px;
	border-radius: 4px;
	list-style-type: none;
	margin: 0.25em;
	background-color: #333;
}

#tags-input {
	border: none;
	border-radius: 4px;
	outline: none;
	padding: 4px;
}
