@import 'variables';

.post-buttons {
	display: flex;
	gap: 1rem;
	justify-content: flex-end;
}

.post {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	background-color: var(--third-clr);
	box-shadow: 0 0 104px var(--accent-clr);

	.post-top {
		border-radius: 8px;
		padding: 1.25rem 1.75rem 0.75rem;
		background-color: #353638;
		border-bottom: 1px solid var(--accent-clr);

		.post-title {
			display: block;
			font-size: var(--fs-lg);
			color: var(--text-clr);
			/* TODO find&replace dla wszystkich whiteSmoke na var(--text-clr) ITP. */
		}

		.post-author {
			font-size: var(--fs-btn);
			margin-top: 0.5rem;
			display: flex;
			align-items: center;

			&:nth-of-type(2) {
				margin-top: 0.1rem;
			}

			strong {
				padding-bottom: 1px;
			}

			.author {
				margin-left: 0.5rem;
				@include button-small-caps();
				font-size: 11px;
				border: none;
			}
		}

		.post-date {
			margin-left: auto;
		}
	}

	.post-img {
		position: relative;
		display: flex;
		justify-content: center;
		width: 100%;
		background-color: #000;
		border: 1px solid var(--third-clr);
		box-shadow: 0 -13px 13px 5px rgba(0, 0, 0, 0.2);

		img {
			max-height: 500px;
		}
	}

	.post-body {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		margin: 1.25rem 1.5rem 1.25rem;
		font-size: var(--fs-btn);
		letter-spacing: 0.3px;
	}

	.post-text {
		background: linear-gradient(
			90deg,
			rgba(34, 24, 24, 1) 24%,
			rgba(32, 33, 34, 1) 49%,
			rgba(34, 22, 22, 1) 76%
		);
		border-radius: 10px;
		padding: 1rem;
		box-shadow: var(--shadow-black-strong);
		font-style: italic;
		letter-spacing: 0.4px;
		overflow-wrap: anywhere;
	}

	.post-tags {
		display: flex;
		flex-wrap: wrap;
		gap: 0.5rem;
	}

	.post-tag {
		background-color: var(--accent-clr);
		padding: 0.25rem 0.75rem;
		@include button-small-caps(0.3rem 0.8rem);
		border: none;
	}

	.post-likes {
		position: absolute;
		bottom: 0;
		right: 0;
		margin-bottom: 1rem;
		margin-right: 1rem;

		button {
			background-color: var(--accent-clr);
			filter: grayscale(0.5);
		}
		button[data-voted] {
			background-color: var(--accent-clr);
			filter: grayscale(0);
		}
		button:hover {
			filter: grayscale(0.25);
		}
	}

	.post-likes__count {
		@include likesCount();
	}
}

@media (max-width: 640px) {
	main {
		width: 100%;
		margin-inline: 0;
	}

	.posts-wrapper.posts-wrapper {
		width: 100%;
		padding-inline: 0.4rem;
		margin-inline: auto;
	}

	.post {
		.post-top {
			padding: 1rem 1.5rem 0.5rem;
		}

		.post-body {
			margin: 1rem 1.5rem 1rem;
		}
	}
}
