<!-- HIDDEN FOR NOT AUTHENTICATED USERS -->
<% if (locals.user) { %>
    <p class="welcome">Welcome, <%= locals.user.nick %></p>
    <form action="/logout?_method=DELETE" method="POST">
        <button type=submit>Log Out</button>
    </form>
<% } else { %>
    <a class='pc-button' href="/login">Log In</a>
<% } %>


