<dialog id="newsletter-modal" class="modal"  >
    <div class="modal-wrapper">
        <h2>Zapisz się do naszego newslettera, aby nie przegapić żadnych nowości!</h2>
        <form action="/newsletter" method="POST" class="modal-form">
            <label for="name"><span>Name:</span> <input type="text" id='name' name="name" required></label>
            <label for="email"><span>Email:</span>  <input type="email" id='email' name="email" required></label>
            <button type="submit">Zapisz</button>
            <button id="newsletter-close" type="button">x</button>
            <em class="newsletter-warning"><i class="fa-solid fa-exclamation-triangle"></i> Newsletter jest teraz chwilowo wstrzymany, ale wciąż można się zapisać!</em>
        </form>
    </div>
</dialog>