<form class="post-buttons" action="/<%=post.id%>/edit" method="GET">
    <button type="submit">Edit Post</button>
    <button type="submit"formaction='/<%=post.id%>?_method=DELETE' formmethod="POST">Delete Post</button>
</form>