<div class="posts-wrapper">
    <div class="post">
        <h5 class="post-title"><%= post.title %></h5>
        <img src="<%= post.img %>">
        <p class="post-body"><%= post.body %></p>
        <div class="post-likes"></div>
        <div class="post-comments"><span>Like</span></div>
    </div>
</div>