    <div id="search-bar" class="search-bar">
        <div class="search">
            <i class='fa-solid fa-search'></i><input type="search" class="search-input" id="search" name="q" placeholder="Szukaj...">
        </div>
        
        <div id="search-results" class="search-results hidden">
            <div id="search-posts-wrapper" tabindex="1"></div>
            <div class="search-info">
                <span id="results-counter"></span><a class="show-more" id="show-more" href="/search?q=">Pokaż więcej...</a>
            </div>
        </div>
    </div>