<div class="sidebar-mobile">
    <a href="/"><img class="logo" src="/assets/logo.svg" alt="logo"/></a>
    <a class="sidebar-link" href="/new"><div class="dot"><i class="fa-solid fa-plus"></i></div><span>Dodaj Post</span></a>
    <a class="sidebar-link" href="/"><div class="dot"><i class="fa-solid fa-chevron-up"></i></div><span>Newest</span></a>
    <a class="sidebar-link" href="/old"><div class="dot"><i class="fa-solid fa-chevron-down"></i></div><span>Oldest</span></a>
    <a class="sidebar-link" href="/random"><div class="dot"><i class="fa-solid fa-random"></i></div><span>Random</span></a>
    <div><button class="newsletter-btn sidebar-link" id="newsletter-btn" class="mobile fa-solid fa-envelope" type="button">Newsletter</button></div>
</div>