<div class="sidebar">
    <a id="new" class="sidebar-link" href="/new"><div class="dot"><i class="fa-solid fa-plus"></i></div><span>Dodaj Post</span></a>
    <a id="newest" class="sidebar-link" href="/newest"><div class="dot"><i class="fa-solid fa-chevron-up"></i></div><span>Newest</span></a>
    <a id="old" class="sidebar-link" href="/old"><div class="dot"><i class="fa-solid fa-chevron-down"></i></div><span>Oldest</span></a>
    <a id="random" class="sidebar-link" href="/random"><div class="dot"><i class="fa-solid fa-random"></i></div><span>Random</span></a>
</div>