<div class="sidebar">
    <a href="/new"><div class="dot"><i class="fa-solid fa-plus"></i></div><span>Dodaj Post</span></a>
    <a href="/"><div class="dot"><i class="fa-solid fa-chevron-up
"></i></div><span>Newest</span></a>
    <a href="/old"><div class="dot"><i class="fa-solid fa-chevron-down"></i></div><span>Oldest</span></a>
    <a href="/random"><div class="dot"><i class="fa-solid fa-random"></i></div><span>Random</span></a>
</div>