<div id='toast' class="toast toast-hidden">
    <i id='remove' class="fa-info-circle fa-solid"></i>
    <span id="toast-text" class="toast-text"><%= msg %></span>
    <button id='toast-close' class="toast-close"></button>
</div>
