<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/css/home.css" />
		<script src="/js/searchBar.js" defer></script>
		<script src="/js/newsletterModal.js" defer></script>
		<script src="/js/homepage.js" defer></script>
	</head>
	<body>
		<main>
			<div class="sidebar">
				<a href="/new">Dodaj Post</a>
				<a href="/">Newest</a>
				<a href="/old">Oldest</a>
				<a href="/random">Random</a>
				<button id="newsletter-btn" type="button">Newsletter</button>
				<%- include('./partials/logoutButton') %>
				<%= msg %>
				<div id="newsletter-modal" class="modal hidden">
					<form action="/newsletter" method="POST">
						<input type="text" id='name' name="name" required>
						<input type="email" id='email' name="email" required>
						<button type="submit">Zapisz do newslettera</button>
					</form>
				</div>
			</div>
			<div class="posts-wrapper">
				<% for(const post of posts) { %>
				<%- include('./partials/postComponent', {post: post}) %>
				<% } %>
			</div>
			<nav id="search-bar">
				<input type="search" class="search" id="search" name="q" placeholder="Szukaj...">
				<div id="search-results" class="search-results hidden">
					<span id="results-counter"></span>
					<div id="search-posts-wrapper" tabindex="1"></div>
					<a id="show-more" href="/search?q=">Pokaż więcej...</a>
				</div>
			</nav>
		</main>
	</body>
</html>
