<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/auth.css">
    <script src="/js/toast.js" defer></script>
    <script src="/js/auth.js" defer></script>
    <script src="https://kit.fontawesome.com/c780166e7c.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
    </div>
    <div class="form-wrapper">
        <img src="/assets/logo_curved.svg" alt="Duże Logo FragFeed"> 
        <form action="/login" method="POST">
            <h2 class="header">Zaloguj się</h2>
            <div class="input-div">
                <i class="fa-solid fa-user"></i>
                <input placeholder="Nick" id="nick" name="nick" type="text" required>
            </div>
            <div class="input-div">
                <i class="fa-solid fa-lock"></i>
                <input placeholder="Password" id="password" name="password" type="password" required>
                <label id="showPasswordLabel" tabindex="0" class="show-password-label" for="showPassword"><i aria-hidden="true" id="showPasswordIcon" class="fa-solid fa-eye"></i></label>
                <input class="show-password" type="checkbox" id="showPassword" name="showPassword">
            </div>
            <div class="remember-me">
                <labe for="remember_me">Pamiętaj mnie: </labe><input type="checkbox" id="remember_me" name="remember_me">
                <button type="submit">Zaloguj</button>
            </div>
            <p class="mobile p">Nie masz jeszcze konta?</p>
            <a class='mobile register' href="/register">Zarejestruj się</a>
        </form>
    </div>
    
    <div class="auth-nav">
        <div>
            <h2 class="pc">Nie masz jeszcze konta? Zarejestruj się!</h2>
            <a class='pc register' href="/register">Załóż konto</a>
        </div>
        <div>
            <h2>Nie chcesz się logować? Wróć na stronę główną!</h2>
            <a href="/">Powrót <i class="fa-home fa-solid"></i></a>
        </div>
    </div>
    </main>
    <%- include('./partials/toast', {msg: messages.error || msg}) %>
</body>
</html>