<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/postForm.css">
    <script src="https://kit.fontawesome.com/c780166e7c.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="sidebar">
        <a href="/">Strona Główna</a>
    </div>
    <%= msg %>
    <form action="/new" method="POST" enctype="multipart/form-data">
        <textarea id="title" name="title" placeholder="Tytuł posta..." rows="1" required></textarea>
        <textarea id="body" name='body' placeholder="Text..." rows="20" required></textarea>
        <label for="image">Upload Image</label><input type="file" name="image">
        <!-- MIEJSCE NA TAGI -->     
        <button type="submit" formaction="/preview" formmethod="POST" formenctype="application/x-www-form-urlencoded">Podgląd</button>
        <button type="submit">Dodaj Post</button>
    </form>
    <%- include('./partials/logoutButton') %>
    <footer></footer>
</body>
</html>