<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/homepage.css">
</head>
<body>
    <%= msg %>
    <div class="sidebar">
        <a href="/">Strona Główna</a>
    </div>
    <!--  TODO MIEJSCE NA UI HANDLE EJS-->
    <div class="posts-wrapper">
        <form action="/new" method="POST">
            <button type="button" onclick="history.back()">Cofnij</button>
            <% if (referer.includes('/edit')) { %>
                <button type="submit" formaction="/<%= post_id %>/edit?_method=PATCH">Edytuj Post</button>
            <% } else { %>
                <button type="submit">Dodaj Post</button>
            <% } %>
            <input type="hidden" name="image">
        </form>
        <%- include('./partials/postComponent') %>
    </div>
    <%- include('./partials/logoutButton') %>
</body>
</html>