<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
		<link rel="stylesheet" href="/css/home.css" />
		<script src="/js/searchBar.js" defer></script>
	</head>
	<body>
		<div class="sidebar">
			<a href="/new">Dodaj Post</a>
            <a href="/">Home</a>
			<a href="/">Newest</a>
			<a href="/old">Oldest</a>
			<a href="/random">Random</a>
			<%- include('./partials/logoutButton') %>
			<%= msg %>
		</div>
		<div class="posts-wrapper">
            <h2>Found posts: <%=postsCount %></h2>
			<% for(const post of posts) { %>
			<%- include('./partials/postComponent', {post: post}) %>
			<% } %>
		</div>
		<nav>
			<input type="search" class="search" id="search" name="q" placeholder="Szukaj...">
			<div id="search-results" class="search-results hidden">
				<p id="results-counter"></p>
				<div id="search-posts-wrapper" tabindex="1"></div>
				<a id="show-more">Pokaż więcej...</a>
			</div>
		</nav>
	</body>
</html>