<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="sidebar">
        <a href="/new">Dodaj Post</a>
        <a href="/">Home</a>
    </div>
    <div class="posts-wrapper">
        <% for(const post of posts) { %> 
            <a href="/<%= post.id %>"><%- include('./partials/postComponent', {post: post}) %></a>
        <% } %>
    </div>
    <%- include('./partials/logoutButton') %>
</body>
</html>