@import './boilerplate.css';
@import './toast.css';
.pc.pc {
	display: none;
}

.shadow-btn.shadow-btn {
	-webkit-box-shadow: var(--shadow-btn);
	box-shadow: var(--shadow-btn);
}

body {
	background: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(5%, var(--primary-clr)),
		color-stop(50%, var(--accent-clr-darker)),
		color-stop(95%, var(--primary-clr))
	);
	background: -o-linear-gradient(
		left,
		var(--primary-clr) 5%,
		var(--accent-clr-darker) 50%,
		var(--primary-clr) 95%
	);
	background: linear-gradient(
		90deg,
		var(--primary-clr) 5%,
		var(--accent-clr-darker) 50%,
		var(--primary-clr) 95%
	);
	overflow: hidden;
}

main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 100vh;
	height: 100dvh;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: var(--text-clr);
}

.message {
	display: block;
	color: lawngreen;
}

a {
	color: var(--text-clr);
	text-decoration: none;
	border: 1px solid #060;
	border-radius: 0.25em;
	padding: var(--small);
}

h1 {
	color: var(--text-clr);
}

.form-wrapper {
	margin-top: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.form-wrapper img {
	margin-inline: 1rem;
}

form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	margin: 1rem;
	border-radius: 6px;
}
form .header {
	margin-top: -1.5rem;
	margin-block: 1.5rem;
	text-align: center;
}
form .remember-me {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 1rem;
	margin-top: 0.5rem;
}
form .remember-me label {
	padding-bottom: 3px;
}
form .remember-me button {
	margin-left: auto;
	padding-inline: 1rem;
}
form .remember-me input {
	accent-color: var(--accent-clr);
}
form .p {
	text-align: center;
	font-size: var(--fs-btn);
	color: var(--btn-clr);
	margin-top: 1rem;
}
form .register-btn {
	margin-top: 0.5rem;
	width: 100%;
}
form .register,
form .login {
	padding: 0.6rem 1rem;
	font-family: sans-serif, 'Segoe UI';
	font-size: var(--fs-btn);
	border: var(--border);
	border-radius: var(--radius);
	-webkit-box-shadow: var(--shadow-black);
	box-shadow: var(--shadow-black);
	background-color: var(--accent-clr);
	text-transform: uppercase;
	cursor: pointer;
	margin-top: 0.5rem;
	text-align: center;
}
form .input-div {
	background-color: var(--third-clr);
	border: 1px solid #404143;
	border-radius: 4px;
	padding: 0.75rem 1.25rem;
	margin-top: -1px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	gap: 1em;
}
form .input-div:focus-within {
	border: var(--border);
	z-index: 10;
}
form .input-div i {
	color: var(--btn-clr);
}
form .input-div input {
	color: var(--btn-clr);
	border: none;
	outline: none;
	background-color: transparent;
}
form .input-div .show-password {
	display: none;
}
form .input-div .show-password-label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-left: auto;
}

.auth-nav {
	background-color: var(--secondary-clr);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	position: relative;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin-top: auto;
	width: 100%;
	padding: 1rem;
	border: var(--border-accent);
	border-radius: var(--radius);
	-webkit-box-shadow: var(--shadow-accent);
	box-shadow: var(--shadow-accent);
}
.auth-nav a {
	padding: 0.6rem 1rem;
	font-family: sans-serif, 'Segoe UI';
	font-size: var(--fs-btn);
	border: var(--border);
	border-radius: var(--radius);
	-webkit-box-shadow: var(--shadow-black);
	box-shadow: var(--shadow-black);
	background-color: var(--accent-clr);
	text-transform: uppercase;
	cursor: pointer;
	text-align: center;
	margin-top: 1rem;
	max-width: 700px;
	display: block;
	width: 100%;
	border: none;
}
.auth-nav i {
	margin-left: 0.25rem;
}

@media (min-width: 641px) {
	body {
		background: -webkit-gradient(
			linear,
			left top,
			right top,
			color-stop(5%, var(--primary-clr)),
			color-stop(50%, var(--accent-clr-darker)),
			color-stop(95%, var(--primary-clr))
		);
		background: -o-linear-gradient(
			left,
			var(--primary-clr) 5%,
			var(--accent-clr-darker) 50%,
			var(--primary-clr) 95%
		);
		background: linear-gradient(
			90deg,
			var(--primary-clr) 5%,
			var(--accent-clr-darker) 50%,
			var(--primary-clr) 95%
		);
	}
	.auth-nav {
		padding: 3rem;
		border: 3px solid var(--accent-clr-green);
	}
	form .p {
		margin-top: 2rem;
	}
	.form-wrapper img {
		max-width: 100%;
		margin-inline: initial;
		padding-right: 0.75rem;
	}
}
@media (min-width: 1041px) {
	body {
		background: -o-linear-gradient(
			352deg,
			var(--primary-clr) 8%,
			var(--accent-clr-darker) 53%,
			var(--primary-clr) 84%
		);
		background: linear-gradient(
			98deg,
			var(--primary-clr) 8%,
			var(--accent-clr-darker) 53%,
			var(--primary-clr) 84%
		);
	}
	.pc.pc.pc {
		display: block;
	}
	.mobile {
		display: none;
	}
	main {
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		overflow: hidden;
	}
	.auth-nav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		width: 42%;
		height: 100vh;
		height: 100dvh;
		padding: 3.5rem;
		margin-top: initial;
		background-color: var(--secondary-clr);
		border: none;
		border-left: 4px solid var(--accent-clr-green);
		-webkit-box-shadow: var(--shadow-accent);
		box-shadow: var(--shadow-accent);
	}
	.auth-nav a {
		width: 35%;
		margin-inline: auto;
	}
	.form-wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		height: 80%;
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		gap: 2.5rem;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		width: 58%;
		margin-top: initial;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
	}
	.form-wrapper img {
		width: 66%;
	}
	form {
		width: 333px;
	}
	form .remember-me {
		margin-top: 0.5rem;
	}
	form .register-btn {
		margin-top: 1rem;
		width: 100%;
	}
}
@media screen and (max-height: 530px) {
	main .form-wrapper img {
		display: none;
	}
}
