@import './boilerplate.css';
@import './postComponent.css';
@import './sidebar.css';
@import './navbar.css';
@import './newsletterModal.css';
@import './toast.css';
@import './hotPostsWrapper.css';
.pc-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem 1rem;
  font-family: sans-serif, "Segoe UI";
  font-size: var(--fs-btn);
  border: var(--border);
  border-radius: var(--radius);
  box-shadow: var(--shadow-black);
  background-color: var(--accent-clr);
  text-transform: uppercase;
  cursor: pointer;
}

.hidden.hidden.hidden {
  display: none;
}

.hidden-ham.hidden-ham.hidden-ham {
  display: none;
}

main {
  margin-top: calc(var(--navbar-height));
  display: grid;
  grid-template-columns: 240px 1fr 400px;
  grid-auto-columns: 0;
  max-width: 1470px;
  margin-inline: auto;
  padding-top: 2rem;
}

/* SEARCH BAR */
.posts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100%;
  max-width: 1000px;
}
.posts-wrapper .page-heading {
  text-align: center;
}

@media (max-width: 1040px) {
  .welcome {
    display: none;
  }
}
@media (min-width: 621px) and (max-width: 1040px) {
  main {
    margin-top: var(--navbar-height);
    grid-template-columns: 1fr 260px;
    grid-template-rows: var(--sidebar-tablet-height) 1fr;
    gap: 1rem;
    padding-top: 0;
  }
  .posts-wrapper {
    margin-left: 0.75rem;
    grid-row: 2;
  }
}
@media (max-width: 620px) {
  main {
    grid-template-columns: 1fr;
    margin-inline: 0.5rem;
  }
  .sidebar {
    display: none;
  }
}