@import './boilerplate.css';


main {
  width: 75%;
  margin: auto;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  /* TODO zrobic tu porzadny grid */
}

.posts-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.posts-wrapper .post {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--accent-clr);
  border-radius: 4px;
  gap: 1em;
  padding: 1em;
}

.posts-wrapper .post .post-title {
  padding: 0.5em;
  display: block;
  font-size: var(--fs-lg);
  color: whitesmoke;
  /* TODO find&replace dla wszystkich whiteSmoke na var(--text-clr) ITP. */
}

.posts-wrapper .post .post-body {
  font-size: var(--fs-btn);
}

.posts-wrapper .post .post-tag {
  color: #222;
  background-color: whitesmoke;
  padding: 0.25rem 0.75rem;
  margin-inline: 0.25em;
  border-radius: 6px;
  font-size: 12px;
}

.posts-wrapper .post .post-tag:hover {
  color: whitesmoke;
  background-color: cornflowerblue;
  border: none;
}

/* SEARCH BAR */
nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 1rem;
}

nav .search {
  border-radius: 4px;
  padding: 0.5em;
}

nav .search-results {
  /* display: none; */
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

nav .search-result {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--accent-clr);
  border-radius: 4px;
  gap: 0.5em;
  padding: 0.5em;
  flex-direction: row;
}

nav .search-result img {
  width: 64px;
  height: 64px;
  margin-right: auto;
}

nav .search-result strong {
  margin-right: auto;
}

.hidden.hidden.hidden {
  display: none;
}

/* SIDE BAR */
.sidebar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}