nav {
  position: fixed;
  height: var(--navbar-height);
  top: 0;
  left: 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: var(--navbar-padding);
  z-index: 900;
  background-color: var(--third-clr);
  border-bottom: 1px solid #303131;
}
nav .hamburger,
nav .mobile,
nav .welcome {
  display: none;
}
nav .pc.logo {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-bottom: 3px;
}
nav .pc.logo img {
  width: 140px;
}
nav .search-bar {
  margin-left: auto;
  position: relative;
  width: 300px;
  background-color: var(--secondary-clr);
  border-radius: 12px;
}
nav .nav-buttons {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .nav-buttons button,
nav .nav-buttons a {
  padding: 0.5rem 1rem;
  font-family: sans-serif, "Segoe UI";
  font-size: var(--fs-btn);
  border: var(--border);
  border-radius: var(--radius);
  -webkit-box-shadow: var(--shadow-black);
          box-shadow: var(--shadow-black);
  background-color: var(--accent-clr);
  text-transform: uppercase;
  cursor: pointer;
}
nav .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem 0.75rem;
  border-radius: var(--radius);
}
nav .search i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--btn-clr);
}
nav .search .search-input {
  background-color: transparent;
  padding: 0.5em;
  width: 100%;
  color: var(--text-clr);
  border: none;
  outline: none;
  border-left: 1px solid var(--third-clr);
}
nav .search-results {
  /* display: none; */
  position: absolute;
  width: 500px;
  top: 110%;
  left: -100px;
  border: 1px solid #343536;
  border-radius: var(--radius);
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--third-clr);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
nav .search-result {
  margin-block: 0.5rem;
}
nav .search-result .flex-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3px;
  margin-bottom: 0.25em;
}
nav .search-result .flex-c em {
  font-size: var(--fs-small);
}
nav .search-result a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 12px;
  -ms-flex-direction: row;
      flex-direction: row;
  gap: 1rem;
  background-color: #343536;
}
nav .search-result a img {
  width: 55px;
  border-radius: 10px;
  height: 55px;
  border-right: 1px solid #404142;
}
nav .search-result a strong {
  margin-right: auto;
  -ms-flex-item-align: center;
      align-self: center;
}
nav .search-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .search-info span {
  font-size: var(--fs-btn);
}
nav .search-info .show-more {
  padding: 0.6rem 1rem;
  font-family: sans-serif, "Segoe UI";
  font-size: var(--fs-btn);
  border: var(--border);
  border-radius: var(--radius);
  -webkit-box-shadow: var(--shadow-black);
          box-shadow: var(--shadow-black);
  background-color: var(--accent-clr);
  text-transform: uppercase;
  cursor: pointer;
}
nav .login-info .pc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

@media (max-width: 1041px) {
  nav {
    padding-inline: 0.75rem;
  }
  nav a.logo {
    width: 110px;
    -ms-flex-item-align: center;
        align-self: center;
    margin-bottom: 3px;
  }
  nav .search-bar {
    width: 250px;
  }
  nav .nav-buttons {
    gap: 0.4rem;
  }
  nav .nav-buttons button,
  nav .nav-buttons a {
    padding-inline: 0.75rem;
    font-size: 11px;
  }
  nav .newsletter-btn {
    display: none;
  }
}
@media (max-width: 620px) {
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    /* HAMBURGER */
    /* NAVBAR */
  }
  nav a {
    width: unset;
  }
  nav .fa-solid {
    font-size: 20px;
  }
  nav .pc,
  nav .hot-wrapper {
    display: none;
  }
  nav .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 0.25rem 0.75rem;
  }
  nav .hamburger.mobile {
    position: relative;
  }
  nav .search-results {
    position: fixed;
    width: 100vw;
    width: 100dvw;
    top: var(--navbar-height);
    left: 0;
  }
  nav .login-info .pc {
    display: none;
  }
  nav #menu-button {
    display: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  nav .menu-container {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
    /* wystarczy zmienic gap na 13px i wyjdzie piekna strzalka! */
    cursor: pointer;
    position: relative;
    z-index: 999;
    /* inline-flex do buttona */
  }
  nav .menu-container span {
    width: var(--hamburger-width);
    height: var(--hamburger-height);
    background-color: white;
    border-radius: 10px;
    pointer-events: none;
    -webkit-transition: opacity 200ms, -webkit-transform 400ms ease-in-out;
    transition: opacity 200ms, -webkit-transform 400ms ease-in-out;
    -o-transition: transform 400ms ease-in-out, opacity 200ms;
    transition: transform 400ms ease-in-out, opacity 200ms;
    transition: transform 400ms ease-in-out, opacity 200ms, -webkit-transform 400ms ease-in-out;
  }
  nav #menu-button:checked + label .top {
    -webkit-transform: translateY(8px) rotate(45deg);
        -ms-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  nav #menu-button:checked + label .bottom {
    -webkit-transform: translateY(-8px) rotate(-45deg);
        -ms-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  nav #menu-button:checked + label .middle {
    opacity: 0;
  }
  nav .hidden-ham.hidden-ham.hidden-ham {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: calc(-1 * var(--navbar-padding));
    top: calc(100% + var(--navbar-padding));
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #292929;
    border: 1px solid #333;
    border-radius: var(--radius);
    -webkit-transition: -webkit-transform 400ms;
    transition: -webkit-transform 400ms;
    -o-transition: transform 400ms;
    transition: transform 400ms;
    transition: transform 400ms, -webkit-transform 400ms;
    -webkit-transform: translateX(-120%);
        -ms-transform: translateX(-120%);
            transform: translateX(-120%);
  }
  nav #menu-button:checked ~ .menu {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }
}