.post-wrapper .post-buttons {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
.post-wrapper .post {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--accent-clr);
  border-radius: 8px;
  background-color: var(--third-clr);
  box-shadow: var(--shadow);
}
.post-wrapper .post .post-top {
  padding: 1.25rem 1.75rem 1rem;
  background-color: #353638;
  border-bottom: 1px solid var(--accent-clr);
}
.post-wrapper .post .post-top .post-title {
  display: block;
  font-size: var(--fs-lg);
  color: var(--text-clr);
  /* TODO find&replace dla wszystkich whiteSmoke na var(--text-clr) ITP. */
}
.post-wrapper .post .post-top .post-author {
  font-size: var(--fs-btn);
  margin-top: 0.25rem;
  display: flex;
}
.post-wrapper .post .post-top .post-author a {
  margin-left: 0.5rem;
}
.post-wrapper .post .post-top .post-date {
  margin-left: auto;
}
.post-wrapper .post .post-img {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #000;
  border: 1px solid var(--third-clr);
  box-shadow: 0 0 17px 0 rgba(0, 0, 0, 0.5);
}
.post-wrapper .post .post-body {
  padding: 1rem;
  font-size: var(--fs-btn);
  letter-spacing: 0.3px;
}
.post-wrapper .post .post-tags {
  padding: 1rem;
}
.post-wrapper .post .post-tag {
  background-color: var(--accent-clr);
  padding: 0.25rem 0.75rem;
  margin-inline: 0.25em;
  border-radius: 6px;
  font-size: 12px;
}
.post-wrapper .post .post-tag:hover {
  color: var(--text-clr);
  background-color: #6295d6;
  border: none;
}
.post-wrapper .post .post-likes {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.post-wrapper .post .post-likes button {
  background-color: var(--accent-clr);
  filter: grayscale(0.5);
}
.post-wrapper .post .post-likes button[data-voted] {
  background-color: var(--accent-clr);
  filter: grayscale(0);
}
.post-wrapper .post .post-likes button:hover {
  filter: grayscale(0.25);
}
.post-wrapper .post .post-likes__count {
  padding: 0.5rem 0.75rem;
  font-size: var(--fs-btn);
  background-color: var(--secondary-clr);
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #343536;
  border-radius: var(--radius);
}

@media (min-width: 621px) and (max-width: 1040px) {
  main {
    grid-template-columns: 1fr 0.5fr;
  }
  .post-form-wrapper {
    grid-column: 1;
  }
  .post-form {
    width: 88%;
    margin-inline: 5vw;
  }
}
@media (max-width: 620px) {
  body {
    overflow: auto;
  }
  main {
    grid-template-columns: 1fr;
  }
  .post-form-wrapper {
    grid-column: 1;
  }
  .post-form {
    width: 93%;
  }
}