.post-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 8px;
  background-color: var(--third-clr);
  -webkit-box-shadow: 0 0 104px var(--accent-clr);
          box-shadow: 0 0 104px var(--accent-clr);
}
.post .post-top {
  border-radius: 8px;
  padding: 1.25rem 1.75rem 0.75rem;
  background-color: #353638;
  border-bottom: 1px solid var(--accent-clr);
}
.post .post-top .post-title {
  display: block;
  font-size: var(--fs-lg);
  color: var(--text-clr);
  /* TODO find&replace dla wszystkich whiteSmoke na var(--text-clr) ITP. */
}
.post .post-top .post-author {
  font-size: var(--fs-btn);
  margin-top: 0.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.post .post-top .post-author strong {
  padding-bottom: 1px;
}
.post .post-top .post-author .author {
  margin-left: 0.5rem;
  padding: 0.2rem 0.5rem;
  font-family: sans-serif, "Segoe UI";
  font-size: var(--fs-btn);
  border: var(--border);
  border-radius: var(--radius);
  -webkit-box-shadow: var(--shadow-black);
          box-shadow: var(--shadow-black);
  background-color: var(--accent-clr);
  text-transform: uppercase;
  cursor: pointer;
  font-size: var(--fs-small);
  text-transform: none;
  border-radius: 50px;
  font-size: 11px;
  border: none;
}
.post .post-top .post-author .author:hover {
  color: var(--text-clr);
  background-color: #6295d6;
  border: none;
}
.post .post-top .post-date {
  margin-left: auto;
}
.post .post-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #000;
  border: 1px solid var(--third-clr);
  -webkit-box-shadow: 0 -13px 13px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -13px 13px 5px rgba(0, 0, 0, 0.2);
}
.post .post-img img {
  max-height: 500px;
}
.post .post-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin: 1.25rem 1.5rem 1.25rem;
  font-size: var(--fs-btn);
  letter-spacing: 0.3px;
}
.post .post-text {
  background: -webkit-gradient(linear, left top, right top, color-stop(24%, rgb(34, 24, 24)), color-stop(49%, rgb(32, 33, 34)), color-stop(76%, rgb(34, 22, 22)));
  background: -o-linear-gradient(left, rgb(34, 24, 24) 24%, rgb(32, 33, 34) 49%, rgb(34, 22, 22) 76%);
  background: linear-gradient(90deg, rgb(34, 24, 24) 24%, rgb(32, 33, 34) 49%, rgb(34, 22, 22) 76%);
  border-radius: 10px;
  padding: 1rem;
  -webkit-box-shadow: var(--shadow-black-strong);
          box-shadow: var(--shadow-black-strong);
  font-style: italic;
  letter-spacing: 0.4px;
}
.post .post-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
}
.post .post-tag {
  background-color: var(--accent-clr);
  padding: 0.25rem 0.75rem;
  padding: 0.3rem 0.8rem;
  font-family: sans-serif, "Segoe UI";
  font-size: var(--fs-btn);
  border: var(--border);
  border-radius: var(--radius);
  -webkit-box-shadow: var(--shadow-black);
          box-shadow: var(--shadow-black);
  background-color: var(--accent-clr);
  text-transform: uppercase;
  cursor: pointer;
  font-size: var(--fs-small);
  text-transform: none;
  border-radius: 50px;
  border: none;
}
.post .post-tag:hover {
  color: var(--text-clr);
  background-color: #6295d6;
  border: none;
}
.post .post-likes {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 1rem;
  margin-right: 1rem;
}
.post .post-likes button {
  background-color: var(--accent-clr);
  -webkit-filter: grayscale(0.5);
          filter: grayscale(0.5);
}
.post .post-likes button[data-voted] {
  background-color: var(--accent-clr);
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
.post .post-likes button:hover {
  -webkit-filter: grayscale(0.25);
          filter: grayscale(0.25);
}
.post .post-likes__count {
  padding: 0.5rem 0.75rem;
  font-size: var(--fs-btn);
  background-color: var(--secondary-clr);
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #343536;
  border-radius: var(--radius);
}

@media (max-width: 620px) {
  main {
    width: 100%;
    margin-inline: 0;
  }
  .posts-wrapper.posts-wrapper {
    width: 98%;
    margin-inline: auto;
  }
  .post .post-top {
    padding: 1rem 1.5rem 0.5rem;
  }
  .post .post-body {
    margin: 1rem 1.5rem 1rem;
  }
}