@import './postComponent.css';
body {
  padding-bottom: 2.75rem;
}

@media (min-width: 621px) and (max-width: 1040px) {
  main {
    grid-template-columns: 1fr 0.5fr;
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
  }
  .post-wrapper {
    margin-left: 0.75rem;
  }
}
@media (max-width: 620px) {
  body {
    overflow: auto;
  }
  main {
    grid-template-columns: 1fr;
  }
}