@import './postComponent.css';
body {
  padding-bottom: 2.75rem;
}

main {
  padding-top: 1.5rem;
  margin-top: var(--navbar-height);
}

@media (min-width: 641px) and (max-width: 1040px) {
  main {
    padding-top: 0;
    grid-template-columns: 1fr 0.5fr;
    -webkit-column-gap: 0.5rem;
       -moz-column-gap: 0.5rem;
            column-gap: 0.5rem;
  }
  .post-wrapper {
    margin-left: 0.75rem;
  }
}
@media (max-width: 640px) {
  body {
    overflow: auto;
  }
  .post-wrapper {
    padding-inline: 0.4rem;
  }
  main {
    grid-template-columns: 1fr;
  }
}