.toast {
	position: fixed;
	font-size: var(--fs-btn);
	bottom: 0;
	right: 0;
	margin: 1rem;
	padding: 1.25rem 1.5rem;
	width: -moz-fit-content;
	width: -webkit-fit-content;
	width: fit-content;
	text-align: center;
	top: initial;
	opacity: 1;
	-webkit-transition: opacity 500ms;
	-o-transition: opacity 500ms;
	transition: opacity 500ms;
	-webkit-box-shadow: var(--shadow-accent);
	box-shadow: var(--shadow-accent);
	background-color: var(--third-clr);
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
	border: var(--border-accent);
	border-radius: var(--radius);
	z-index: 9999;
	color: #aaa;
}

.toast i {
	padding-left: 0.25rem;
	margin-left: -0.5rem;
}

.toast-hidden {
	top: 100%;
	opacity: 0;
	-webkit-transition: all 500ms;
	-o-transition: all 500ms;
	transition: all 500ms;
}

.toast span {
	margin-left: 0.45rem;
	margin-right: 0.75rem;
}

.toast-close {
	font-size: 18px;
	width: 2rem;
	border: none;
	background-color: transparent;
	position: absolute;
	top: 0;
	right: 0;
}
