.toast {
  position: fixed;
  font-size: var(--fs-small);
  bottom: 0;
  right: 0;
  margin: 1rem;
  padding: 1rem 1.5rem;
  width: 225px;
  text-align: center;
  top: initial;
  opacity: 1;
  transition: opacity 500ms;
  box-shadow: var(--shadow-accent);
  background-color: var(--third-clr);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border: var(--border-accent);
  border-radius: var(--radius);
  z-index: 999;
}

.toast-hidden {
  top: 100%;
  opacity: 0;
  transition: all 500ms;
}

.toast-close {
  position: absolute;
  top: 0;
  right: 0;
}